*{
    text-align: center;
}

.container{
    margin-top: 100px;
}

.input_space{
    margin-bottom: 10px;
}

input{
    height: 30px;
    width: 20%;
    font-size: 18;
}

button{
    height: 30px;
    width: 15%;
    background-color: rgb(254,248,76);
}